/* Element Selector */
body {
	background-color:#F0F0F0;
	font-family:'Open Sans',sans-serif;
	margin-left:2em;
	margin-right:2em;
}
aside {
	width:20%;
	float:right;
}
footer {
	text-align: center;
}
/* Id Selector */
#content {
	width:75%;
	float:left;
}
footer {
	clear:both;
}
/*Multiple Selector */
h1,h3,h4 {
	color:#00B5B5;
	text-align:center;
}
/*Decendant Selector */
aside h3 {
	text-align:center;
}
p strong {
	color:#00B5B5;
}
/* Universal Selector */
div * em {
	color:#00B5B5;
}
/* Pseudo-Element Selector */
p:first-line {
	text-transform:lowercase;
}
/* Pseudo-Class & Class Selector*/
.source:visited {
	color:#5C6D7E;
}
/* Combinators */
article + h3{
	line-height: 1em;
}
article > p{
	font-family:'Open Sans',sans-serif;
	text-indent:1em;
}
h4 ~ p{
	text-indent:1em;
	text-align: left;
}
/* Attributes Selector */
a[class=source]:before {
	content:"Source: ";
}
a[href^="http://"] {
	padding-right:.8em;
	background:url(../images/external_link.png) no-repeat right;
}
img[src$=".jpg"] {
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
img[alt~="picture"]{
	display:block;
}
img[alt*="picture"]{
	max-width:100%;
}
img[alt|="a"]{
	max-width:100%;
	display:block;
}


