body{
	font:100%;
	font-family:'Open Sans', sans-serif;
	max-width: 960px;
	margin:0 auto;

}
#page{
	width:100%; /* 900px */
	margin:0 auto;
	overflow:hidden;
}
#content{
	width:65.888889%; /* 593px */
	float:left;
}
h1{
	font-weight: normal;
	font-size:1.5em;
}
p{
	font-size:0.9em;
}
img{
	max-width: 100%;
}
aside{
	float:right;
	width:25.111111%; /* 226px */
	padding-left:2%;
}
footer{
	clear:both;
}
/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 959px){
	#page{
		width:95%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	#page{
		width:90%;
	}
	#content{
		width:100%;
		float:none;
	}
	aside{
		width:100%;
		float:none;
		padding:0;
	}
	img{
		max-width: 60%;
	}
}
@media only screen and (max-width: 479px){
	#page{
		width:90%;
	}
	#content{
		width:100%;
		float:none;
	}
	aside{
		width:100%;
		float:none;
		padding:0;

	}
	img{
		display:none;
	}
}