body{
	font:100%;
/* Font Family */
	font-family:'Open Sans', sans-serif;
/* Max Width 960px */
	max-width: 960px;
	height: 100%;
	margin:0 auto;
/* Background Color */
	background-color:#F0F0F0;
}
#page{
/* Set page width to 960px */
	width:100%;
}
img{
/*Make Image Responsive*/
	max-width: 100%;
	height:100%;
/*Add padding to images*/
	padding:0.5em;
}
#content{
	float:left;
	margin-right:2%;
}
/* First Image Effects */
.first:hover{
	-webkit-transform: rotate(360deg);
}
.first{
	width:100%;
	-webkit-transition-property: all;
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s; 
}
/* Display Caption */
.first:hover + .firstcaption{
	display:block;
}
/* Hide caption */
.firstcaption{
	display:none;
	width:75%;
}
/* Second Image Effects*/
.second:hover{
	-webkit-transform: scale(0.5);
}
.second{
	width:100%;
	-webkit-transition:1s;
}
/* Display Caption */
.second:hover + .secondcaption{
	display:block;
}
/* Hide caption */
.secondcaption{
	display:none;
	width:75%;
}
/* Third Image Effects*/
.third:hover{
	-webkit-transform: translate(2%,3%);
}
.third{
	width:100%;
	-webkit-transition:1s;
}
/* Display Caption */
.third:hover + .thirdcaption{
	display:block;
}
/* Hide caption */
.thirdcaption{
	display:none;
	width:75%;
}
/* Fourth Image Effects*/
.fourth:hover{
	-webkit-transform: skew(5deg, 10deg);
}
.fourth{
	width:100%;
	-webkit-transition:1s;
}
/* Display Caption */
.fourth:hover + .fourthcaption{
	display:block;
}
/* Hide caption */
.fourthcaption{
	display:none;
	width:75%;
}
/* Fifth Image Effects*/
.fifth:hover{
	-webkit-transform: skew(5deg, 10deg);
}
.fifth{
	width:100%;
	-webkit-transition:1s;
}
/* Display Caption */
.fifth:hover + .fifthcaption{
	display:block;
}
/* Hide caption */
.fifthcaption{
	display:none;
	width:75%;
}
/* Sixth Image Effects*/
.sixth:hover{
	-webkit-transform: skew(5deg, 10deg);
}
.sixth{
	width:100%;
	-webkit-transition:1s;
}
/* Display Caption */
.sixth:hover + .sixthcaption{
	display:block;
}
/* Hide caption */
.sixthcaption{
	display:none;
	width:75%;
	margin-bottom: 3em;
}